/* Cabecalho.module.css */
.cabecalho {
    display: flex;
    padding: 13px 34px 13px 34px;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .logo a {
    display: flex;
    align-items: center;
  }
  
  /* CSS Module: Cabecalho.module.css */
.navigation {
  & > .nav-ul {
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 36px;
  }

  & > .navLi {
    list-style-type: none;
    transition: background-color 0.3s ease; /* Adicione uma transição de suavização para o hover */
  }

  & > .navLi:hover {
    /* Estilos para o hover */
    color: #0046C0;

    /* Adicione qualquer outro estilo desejado durante o hover */
  }

  @media (max-width: 768px) {
    & > .nav-ul {
      display: none;
    }
  }
}

  