/* Cabecalho.module.css */
.cabecalho {
    display: flex;
    padding: 13px 34px 13px 34px;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .logo a {
    display: flex;
    align-items: center;
  }
  
  .navigation {
    & > .nav-ul {
      background-color: #fff;
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 36px;
    }
  
    & > .nav-li {
      list-style-type: none;
    }
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
  
      & > .nav-ul {
        display: none;
      }
    }
  }
  