

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  

  .headerSection {
    color: #0046c0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
    gap: 16px;
    background: rgba(32, 173, 252, 0.2);
    height: 85vh;
    max-height: 900px;
  }
  .headerSection h1{
    color: #0046c0;
    font-size: 2.2em;
    line-height: 1.1;
    
    font-weight: bold;
  }
  
  .headerSection .headerSectionBox {
    padding: 13px 34px 13px 34px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 80%;
  }
  
  .headerSection .headerSectionBackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
    width: 100%;
  }
  .surveyChat {
    background: rgba(210, 239, 254, 0.20);;
    height: 100%;
    width: 100%;
  }
  .surveyBox {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    background: rgba(32, 173, 252, 0.2);
    height: 100%;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .headerSection {
      grid-template-columns: 1fr;
    }
    .headerSection .headerSectionBox {
      max-width: 85%;
    }
    .headerSection .headerSectionBackground {
      display: none;
    }
  }
  