

.surveySection {
    width: 100%;
    background-image: url('/background-survey.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .surveyBox {
    color: #fff;
    padding: 100px 34px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 450px;
  }
  .surveyBox h2{
    font-size: 1.9em;
    line-height: 1.1;
    font-weight: bold;
  }